

#Comments #form div {
  margin-bottom: 1em;
}

#Comments #form label {
  display: block;
  margin-bottom: 0.5em;
  /* font-weight: 500; */
}

#Comments #form textarea {
  width: 100%;
}

#Comments #form input, #Comment #form textarea {
  padding: 0 1.2em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  /* transition: all 0.3s; */
  color: #444;
  max-width: 100%;
  line-height: 3em;
}