#Projects {
	background-color: #ffc04c;
}

.project {
	padding-left: 2em;
	padding-right: 2em;

	height: 20em;
	width: 20em;

	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-title, .project-description {
	visibility: hidden;
}

.project-title {
	margin-top: 0em;
	-webkit-transition: margin .2s; 
	transition: margin .2s;
}

.project-description {
	opacity: 0.5;
	transition: opacity .2s;
	-webkit-transition: opacity .2s;

	-webkit-transition: margin .2s; 
	transition: margin .2s;
	margin-top: 3em;
}


.project:hover .project-title {
	visibility: visible;
  border-bottom: 1px solid white;
  color: white;
  margin-bottom: .5em;
  font-size: 1.5em;
  margin-top: .5em;
}

.project:hover .project-description {
	visibility: visible;
	color: white;
	margin-top: 0;
	opacity: 1;
}
