#Portfolio {

}

#projects-container {
	width: 80%;
	margin: 0 auto;
	margin-top: 2em;
}

.project-box-img {
	height: 15em;
	width: 15em;
}

.project-text-container {
	width: 50%;
}

@media only screen and (max-width: 1000px) {
	#projects-container {
		width: 90%;
	}
}