.FeaturedProject .content, .Project {
  border-radius: 4px;
}

.FeaturedProject h2, .Project h2 {
  margin-bottom: 0.2em;
}

.content .icon {
  margin-right: 0.3em;
}

.content .icon-txt {
  margin: 0.1em 0;
  font-size: 0.8em;
}

.project-link-icon {
  margin: 0 0.2em;
  color: black;
  text-decoration: none;
}