.FeaturedProject .Content, .Project {
  border-radius: 4px;
}

.FeaturedProject h2, .Project h2 {
  margin-bottom: 0.2em;
}

.Content .icon {
  margin-right: 0.3em;
}

.Content .icon-txt {
  margin: 0.1em 0;
  font-size: 0.8em;
}

.project-link-icon {
  margin: 0 0.2em;
}

#Filter #first:before {
  content: "";
  padding: 0;
  
}

#Filter p {
  margin-top: 0;
}

#Filter p:before {
  content: "\2022";
  padding: 0 10px;
  color: black;
}

