.skill-bar {
	background-color: #eee;

	/*Left-justified flex container*/
	display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin: 1em 0;
}

.skill-bar-title {
	display: flex;
	align-items: center;
	padding: 0 1em;
	
	color: white;
}