.content-box {
	
}

.content-title {
	margin-bottom: 0;
}

.content-by {
	margin-top: 0;
}

.link-btn-content-container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

@media only screen and (max-width: 1160px) {
	.content-box-img {
/*		height: 10em;
		width: 1em;*/
	}
}

@media only screen and (max-width: 1000px) {
	.content-box {
		display: flex;
		flex-wrap: wrap;
		/*justify-content: center;*/
	}

	.content-text {
		width: 80%;
	}
}

@media only screen and (max-width: 500px) {
	.link-btn-blue-content, .link-btn-green-content, .link-btn-orange-content {
		
	}
}

