.content-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	border-radius: 4px;
}

.project-title {
	margin-bottom: 0;
}

.project-by {
	margin-top: 0;
}

.link-btn-project-container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.link-btn-blue-project {
	background-color: #0070ba;
}

.link-btn-blue-project:hover {
	background-color: #328cc7;
}

.link-btn-green-project {
	background-color: #28a745;
}

.link-btn-green-project:hover {
	background-color: #52b86a;
}

.link-btn-orange-project {
	background-color: #ee8822;
}

.link-btn-orange-project:hover {
	background-color: #f19f4e;
}

.link-btn-text-project {
	color: white;
}

@media only screen and (max-width: 1160px) {
	.project-box-img {
/*		height: 10em;
		width: 1em;*/
	}
}

@media only screen and (max-width: 1000px) {
	.project-box {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.project-text {
		width: 80%;
	}
}

@media only screen and (max-width: 500px) {
	.link-btn-blue-project, .link-btn-green-project, .link-btn-orange-project {
		
	}
}

