#Student {
/*	border-bottom: 1px solid #959393;*/	
	border-bottom: 1px solid #353535;
	
	background-color: #353535;
	/*background-color: #E7E4E4;*/
}

.student-description {
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;

}
