#Publications {
	background-color: #f5f5f5;
	padding: 2em 0;
}

#publications-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.publication-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 30%;
	margin: 1em;
}

.publication-img {
	height: 15em;
	width: 15em;
	margin: 0;

}

.textContainerClassName {
	width: 90%;
}

@media only screen and (max-width: 800px) {
	.publication-box {
		width: 90%;
	}
}

