#Portfolio {

}

.project {
	padding-left: .5em;
	padding-right: .5em;

	height: 15em;
	width: 15em;
}

.project-overlay {
  position: relative;
}

.project-overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
}

.project-overlay:hover:before{
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}

.project-title, .project-description, .project-code {
	visibility: hidden;
	position: relative;
}

.project-title {
	margin-top: 0em;
	-webkit-transition: margin .2s;
	transition: margin .2s;
}

.project-description, .project-code {
	opacity: 0.5;
	transition: opacity .2s;
	-webkit-transition: opacity .2s;

	-webkit-transition: margin .2s;
	transition: margin .2s;
	margin-top: 3em;
}

.project:hover .project-title {
	visibility: visible;
  border-bottom: 1px solid white;
  color: white;
  margin-bottom: .5em;
  font-size: 1em;
  margin-top: .5em;
  opacity: 1;
}

.project:hover .project-description {
	visibility: visible;
	color: white;
	margin-top: 0;
	opacity: 1;
	font-size: .75em;
}

.project:hover .project-code {
	visibility: visible;
	color: white;
	margin-top: 0;
	opacity: 1;
	text-decoration: none;
	border-bottom: 1px white dotted;
	font-size: .75em;
}

@media only screen and (min-width: 480px) {
	.project {
		height: 20em;
		width: 20em;
	}

	.project:hover .project-title {
	  font-size: 1.5em;
	}

	.project:hover .project-description {
		font-size: 1em;
	}

	.project:hover .project-code {
		font-size: 1em;
	}
}
