.overlay {
  position: relative;
  /*margin: 2em;*/
  /* padding: 1em; */
}

.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
}

.overlay:hover:before{
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}

.bg-img .flex-container {
  height: 100%;
  width: 100%;
}

.bg-img .flex-container div {
  /* background-color: green; */
  flex-grow: 1;
}

.left-select .icon, .right-select .icon {
  font-size: 1.5em;
  margin: 0 0.2em;
  visibility: hidden;
}

.left-select:hover .go-left-img-icon {
  visibility: visible;
  /* background-image: linear-gradient(to left, rgba(255,0,0,0), black); */
}

.right-select:hover .go-right-img-icon {
  visibility: visible;
  /* background-image: linear-gradient(to right, rgba(255,0,0,0), black); */
}