#Architecture {
  background-color: #9999ff;
  padding-bottom: 2em;
}

.about-title {
  font-size: 3em;
}

.architecture-item {
  margin-bottom: 2em;
}

.architecture-item-title {
  margin-bottom: 0;
  border-bottom: 1px solid black;
}
