#Architecture {
  background-color: #EEEEEE;
  padding-bottom: 2em;
}

.architecture-title {
  font-size: 3em;
  text-align: center;
  margin-top: 0;
}

.architecture-item {
  margin-bottom: 2em;
}

.architecture-item-title {
  margin-bottom: 0;
  border-bottom: 1px solid black;
}
