.background-img {
	height: 100%;
	width: 100%;

	z-index: -200;
	position: absolute;
	overflow: hidden;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	/*parallax*/
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}