.chevron-with-circle {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border: 0.25em solid #333;
  border-radius: 50%;
  text-align: center;
}

.chevron-with-circle::after {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: middle;
	width: 0.45em;
}

.chevron-with-circle.bottom:after {
	top: 0;
	transform: rotate(135deg);
}