.chevron {
  border: solid;
  /*display: inline-block;*/
  /*transition: border-color .15s ease;*/

  /*Change this to change color*/
  border-color: white;

  /*To change size, chenage border-width and padding proprotionally*/
  border-width: 0 7px 7px 0;
  padding: 9px;

}

.chevron.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@keyframes bounce {
  from{ bottom:40px } to { bottom:20px }
}