.chevron {
  border: solid;
  border-color: white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 7px;
  transition: border-color .15s ease;
}

.chevron.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}