.flex-container, 
.flex-container-vertically-center, 
.flex-container-horizontally-center {
  display: flex;
  flex-wrap: wrap;
}

.flex-container-vertically-center {
  align-items: center;
}

.flex-container-horizontally-center {
  justify-content: center;
}