.mouse-on-hover {
	cursor: pointer;
}

.section {
  display: block;

  width: 90%;
	margin: 0 auto;

	/*Spacing*/
	padding-left: .5em;
  padding-right: .5em;
  padding-top: 3em;
  padding-bottom: 5em;
}
