.section, .section-dark {
  display: block;

  width: 100%;

  /*Text color*/
  color: #616161;

	/*Spacing*/
	padding-left: .5em;
  padding-right: .5em;
  /*padding-top: 2em;*/
  /*padding-bottom: 5em;*/
}

.section-dark {
  background-color: #3A3934;

  /*Text color*/
  color: white;
}

.section-content {
  width: 80%;
  margin: 0 auto;
}

.section-title, .section-dark-title {
  font-size: 2.5em;
  text-align: center;

  padding-bottom: 0.5em;

  border-bottom: 1px #d0d0d0 solid;
}

.section-dark-title {
  color: #4ABDAC;
  border-bottom: 1px #4ABDAC solid;

}