html, body, .App, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, #header, li {
  font-family: 'Noto Sans', sans-serif;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  padding-left: .5em;
  padding-right: .5em;
  padding-top: 3em;
  padding-bottom: 5em
}

.title {
  margin-top: 0;
  margin-bottom: .2em;
  font-size: 3em;
}

.flex-container-center, .flex-container-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container-center {
  justify-content: center;
}

.flex-container-left {
  justify-content: left;
}

.flex-item {
  margin: 2em;
}

.center-img {
  margin: auto;
  display: block;
}

.center {
  margin: auto;
}

.fade {
  position: relative;
}

.fade:before {
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}

.hidden {
  display: none;
}


.round-btn {
  border-radius: 20px;
  border-width: 0;
  height: 2em;
  font-size: 1.2em;
  margin-right: 1em;
  margin-top: .5em;
  margin-bottom: .5em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.link-btn-blue-content {
  background-color: #0070ba;
}

.link-btn-blue-content:hover {
  background-color: #328cc7;
}

.link-btn-green-content {
  background-color: #28a745;
}

.link-btn-green-content:hover {
  background-color: #52b86a;
}

.link-btn-orange-content {
  background-color: #ee8822;
}

.link-btn-orange-content:hover {
  background-color: #f19f4e;
}

.light-blue-btn {
  background-color: #b2b2ff;
}

.light-blue-btn:hover {
  background-color: #c1c1ff;
}

.red-btn {
  background-color: #ff9999;
}

.red-btn:hover {
  background-color: #ffadad;
}

.link-btn-text-content {
  color: white;
}




.center {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.chevron {
  border: solid;
  border-color:  #545454;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 7px;
  transition: border-color .15s ease;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}





@media only screen and (min-width: 480px) {
  .section {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

@media only screen and (min-width: 720px) {
  .section {
    padding-left: 3em;
    padding-right: 3em;
  }
}



.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.2); }
















.App {
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
