#Skills {

}

#skill-bars-container {
	width: 100%;
	margin: 0 auto;
	
	align-items: flex-start;
}

/*For container that only contains skill bars and title*/
.skill-bar-container {
	width: 40%;
	margin: 2em;

	font-weight: normal;

}

@media only screen and (max-width: 900px) {
	.skill-bar-container {
		width: 90%;
	}
}