#Skills {

}

#skill-bars-container {
	width: 100%;
	margin: 0 auto;
}

/*For container that only contains skill bars and title*/
.skill-bar-container {
	width: 45%;
	margin: 1em;

	font-weight: normal;
}

/*Classname of skillbar title div. Specified in library, not by me*/
.skillbar-title {
	color: white;
	width: 200px;
}

.skillbar-bar {
	left: 200px;
}

@media only screen and (max-width: 900px) {
	.skill-bar-container {
		width: 90%;
	}
}