#About h2 {
  font-size: 2em;
}

#About h3 {
  font-size: 1.5em;
}




#main-content {
  margin-bottom: 3em;
}

#about-text-container {
  width: 30em;
}




#Logos {
  margin-left: 2em;
  width: 5em;
}

@media only screen and (max-width: 760px) {
	#Logos {
    width: 100%;
    margin-left: 0;
    margin-top: 2em;

		display: flex;
    justify-content: center;
    flex-direction: row;
	}
}

#Logos .logo img {
  height: 40px;
	width: 40px;
	margin: 0.5em 1em;
}




.resume-link {
  width: 7em;
  margin: 0 1em;
}

.resume-icon {
  height: 64px;
  display: block;
}




#Buzzwords {
  margin-bottom: 3em;
}

#Buzzwords .column {
  margin: 0 2em;
}

#Buzzwords .column .text {
  width: 13em;
  margin: 0.5em 0;
}

