#About {
  /*background-color: #EEEEEE;*/

  /*Dark background*/
  /*background-color: #2B2B2B;*/

}

#about-content-container {
	width: 100%;
}

#logos-container {
	width: 5em;
	margin-left: 3em;
}

.about-logo {
	/* margin: 1em; */
}

.about-logo-img {
	height: 40px;
	width: 40px;
	margin: 0.5em;
}

@media only screen and (max-width: 720px) {
	#logos-container {
		width: 100%;

		display: flex;
		justify-content: center;;
	}
}