#About {
  /*background-color: #EEEEEE;*/

  /*Dark background*/
  /*background-color: #2B2B2B;*/

}

#about-content-container {

}

#logos-container {
	/* margin: 0 auto; */
	/* width: 90%; */
	width: 5em;
	margin-left: 2em;
}

.about-logo {
	/* margin: 1em; */
}

.about-logo-img {
	height: 40px;
	width: 40px;
	margin: 0.5em;
}
