#About {
  /*background-color: #EEEEEE;*/

  /*Dark background*/
  /*background-color: #2B2B2B;*/

}

#about-content-container {
	
}

#logos-container {
	margin: 0 auto;
	width: 90%;
}

.about-logo {
	margin: 1em;
}

.about-logo-img {
	height: 40px;
	width: 40px;
}
