.FeaturedProject {
  margin-top: 1em;
  margin-bottom: 3em;
}

.FeaturedProject.right {
  text-align: right;
}


.FeaturedProject .bg-img {
  width: 20em;
  height: 20em;
}

@media only screen and (max-width: 1100px) {
  .FeaturedProject .bg-img {
    width: 34em;
    /* height: 10em; */
  }
}

.FeaturedProject .content {
  width: 30em;
  background-color: #F3EFE0;
  border-radius: 4px;
}

.FeaturedProject .content {
  padding: 0.5em 2em;
}

.FeaturedProject h2 {
  margin: 0;
}

.FeaturedProject .built-with-text {
  flex-grow: 1;
  font-size: 0.8em;
  color: #5f5f5f;
  margin-bottom: 2em;
}