#Intro {
	height: 100%;
	width: 100%;

	background-position: center;
	background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

.navbar-accordianed {
  width: 100%;
  background-color: black;
}

#navbar-title {
	float: left;
	display: block;
	text-align: center;
	text-decoration: none;
	margin: 0;
	color: white;
	font-size: 1em;
	padding-top: .2em;
	padding-left: .4em;
}

.navbar-accordian-open {
	
}

.navbar-link {
	color: #ddd;
	padding: 1em 1em;
	font-size: 1.2em;
	display: none;
	text-align: center;
	text-decoration: none;
	margin: 0;
}

.navbar-link:hover {
  color: white;
}

.navbar-link-accordianed {
	display: block;
	width: 100%;
}

#mobile-menu-icon {
	float: right;
	cursor: pointer;
}

.mobile-menu-icon-bar {
	width: 1.3em;
	height: .1em;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
}

.intro-caption, .intro-caption-faded {
	top: 20%;
	width: 100%;
	position: absolute;
	text-align: center;
	font-size: 1em;
}

.intro-caption-faded {
	opacity: .3;
}

.intro-title, .intro-description {
	margin-top: 0;
	color: white;
	margin-bottom: .2em;
}

@media screen and (min-width: 256px) {
	.intro-caption, .intro-caption-faded {
		font-size: 1.5em;
	}

	#navbar-title {
		font-size: 1.7em;
		padding-top: .4em;
		padding-left: .2em;
	}

	#mobile-menu-icon {
		margin-top: 1em;
	}

	.mobile-menu-icon-bar {
		width: 2em;
		height: .1em;
	}
}

@media screen and (min-width: 870px) {
	.intro-caption, .intro-caption-faded {
		font-size: 2em;
	}

	#navbar-title {
		font-size: 1.7em;
		padding-top: .4em;
		padding-left: .4em;
		padding-right: .5em;
		margin-right: 1em;
	}

	.mobile-menu-icon, .mobile-menu-icon-bar {
		display: none;
	}

	.navbar-link {
		float: left;
		display: block;
	}
}
