#Intro {
	height: 100%;
	width: 100%;

	background-position: center;
	background-repeat: no-repeat;
  background-size: cover;
}

#header {
	text-align: center;
	width: 100%;
	position: absolute;
	top: 50%;
}

#header-title, .header-description {
	color: white;
}

#header-title {

}

.header-description {

}





