#Intro {
	height: 100%;
	width: 100%;
}

.background-img {
	height: 100%;
	width: 100%;

	z-index: -200;
	position: absolute;
	overflow: hidden;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	/*parallax*/
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

#welcome {
	position: absolute;
	margin: auto;
	text-align: center;
}


#welcome h1 {
	font-size: 5em;
	color: white;

	margin-bottom: 0;
	margin-top: 0;
}

#welcome h2 {
	font-size: 2em;
	color: white;

	margin-bottom: 0;
	margin-top: 0;
}



@media only screen and (min-width: 992px) {
	#welcome {
    width: 970px;
	}
}

@media only screen and (min-width: 768px) {
	#welcome {
    width: 750px;
	}
}
