.project-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.project-box-img {
	height: 15em;
	width: 15em;
}

.project-text {
	width: 50%;
}

.link-btn-project-container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.link-btn-project {
	border-radius: 20px;
	border-width: 0;
	height: 2em;
	font-size: 1.2em;
	background-color: #0070ba;
}

.link-btn-project:hover {
	background-color: #328cc7;
}

.link-btn-text-project {
	color: white;
}

@media only screen and (max-width: 1160px) {
	.project-box-img {
/*		height: 10em;
		width: 1em;*/
	}
}

@media only screen and (max-width: 1000px) {
	.project-box {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.project-text {
		width: 80%;
	}
}