.project-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.project-box-img {
	height: 15em;
	width: 15em;
}

.project-text {
	width: 50%;
}

.link-btn-project-container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.link-btn-project {

}

@media only screen and (max-width: 1160px) {
	.project-box-img {
/*		height: 10em;
		width: 1em;*/
	}
}

@media only screen and (max-width: 1000px) {
	.project-box {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.project-text {
		width: 80%;
	}
}