#Intro {
	height: 100%;
	width: 100%;

	background-image: url('./assets/bg1.jpg');

	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-caption {
	top: 20%;
	width: 100%;
	position: absolute;
	text-align: center;
	font-size: 2em;
}

.intro-title, .intro-description {
	margin-top: 0;
	color: white;
	margin-bottom: .2em;
}
