h1 {
	color: #5B5B5B;
}

#intro {
	display: flex;
	flex-direction: column;
	align-items: center;

	/*background-color: #4E4E4E;*/

	/*border-bottom: 1px solid #959393;*/
}

#introTextContainer {
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	padding-left: 150px;
	padding-right: 150px;	
	border-bottom: 1px solid #959393;
}

#introText {
	font-weight: normal;

}

#descriptionContainer {
/*	padding-left: 90px;
	padding-right: 90px;*/

}

#descriptionText {
	font-weight: normal;
	margin-bottom: 10px;

}

#ghLink {
	margin-bottom: 10px;
}



