#Tutorials {

}

#tutorials-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tutorial-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 30%;
	margin: 1em;
}

.tutorial-img {
	height: 15em;
	width: 15em;
	margin: 0;

}

.textContainerClassName {
	width: 90%;
}

@media only screen and (max-width: 800px) {
	.tutorial-box {
		width: 90%;
	}
}

