/* Styling that applies to all blog stuff, including blog home page and 
  individual blog pages */

/* Blog content sizing, also applies to blog pages */
.blog-content {
  margin: 0 auto;
  width: 40%;
}

@media only screen and (max-width: 1100px) {
  .blog-content {
    width: 60%;
  }
}

@media only screen and (max-width: 650px) {
  .blog-content {
    width: 80%;
  }
}