#Blog {
  padding-top: 4em;
  margin-bottom: 4em;
}

#Blog h1 {
  font-size: 2.5em;
}

#Blog .post-preview {
  border-bottom: solid 1px #989898;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

/* Blog content sizing, also applies to blog pages */
.blog-content {
  margin: 0 auto;
  width: 40%;
}

@media only screen and (max-width: 1100px) {
  .blog-content {
    width: 60%;
  }
}

@media only screen and (max-width: 650px) {
  .blog-content {
    width: 80%;
  }
}


#Blog .post-preview .title, #Blog .post-preview .read-more-link {
  text-decoration: none;
  color: black;
}

#Blog .post-preview a:hover {
  color: #767676;
}

#Blog .post-preview h2 {
  margin-bottom: 0;
}

#Blog .post-preview .date {
  margin-top: 0;
  color: #989898;
}
