#Blog {
  /* padding-top: 4em; */
  margin-bottom: 4em;
  width: 100%;
}

#Blog .post-preview {
  border-bottom: solid 1px #989898;
  padding-bottom: 1em;
  margin-bottom: 3em;
}

#Blog .post-preview .title, #Blog .post-preview .read-more-link {
  text-decoration: none;
  color: black;
}

#Blog .post-preview a:hover {
  color: #767676;
}

#Blog .post-preview h2 {
  margin-bottom: 0;
}

#Blog .post-preview .date, 
#Blog .post-preview .word-count,
#Blog .post-preview .reading-time {
  margin-top: 0;
  color: #989898;
}

@media only screen and (max-width: 700px) {
	#Blog .post-preview .date, 
  #Blog .post-preview .word-count,
  #Blog .post-preview .reading-time {
    font-size: 0.7em;
  }
}

#Blog .post-preview .word-count,
#Blog .post-preview .reading-time {
  margin-left: 0.5em;
  padding-left: 0.5em;
  border-left: 1px solid #acacac;
}
