#Experience h3 {
  margin-bottom: 0;
}

#Experience h4 {
  margin-bottom: 0;
}

.experience-item {
  margin: 2em 0;
}

.experience-item .left {
  width: 15em;
  padding-right: 2em;

  text-align: right;
  
  /* border-right: white solid 1px; */

}

.experience-item .right {
  width: 35em;
  padding-left: 1em;

}