.FilterSelect {

}

.selectable-filter-category-container {
	margin: 0 3em;
	margin-bottom: 2em;
	width: 15em;
}	

.filter-category-title-chevron {
	border-width: 0 3px 3px 0;
	padding: 5px;
}

.filter-category-text, .collapsed-filter-category-text {
	cursor: pointer;
	margin: .5em;
	padding: .5em 2em;
	padding-left: 1em;
	transition: padding .3s;
	/*width: 90%;*/
	border-radius: 3px;
}

.filter-category-text {
	visibility: visible;
	opacity: 1;
	transition: all 300ms;
}

.collapsed-filter-category-text {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 300ms, opacity 300ms;
	
}

.filter-category-text:hover {
	padding-top: .7em;
	padding-bottom: .7em;
}

.selected-filter-category-text {
	background-color: #b2b2ff;
}


.unselected-filter-category-text {
	background-color: #ff9999;
}



@media only screen and (max-width: 150px) {
	.selectable-filter-category-container {
		width: 90%;
		margin: 0;
		margin-bottom: 2em;
	}

	.filter-category-text {
		/*width: 80%;*/
	}
}
