.FilterSelect {

}

.selectable-filter-category-container {
	margin: 0 3em;
}

.selected-filter-category-text {
	background-color: blue;
}

.unselected-filter-category-text {
	background-color: blue;
}