.FilterSelect {

}

.selectable-filter-category-container {
	margin: 0 3em;
}

.filter-category-text {
	cursor: pointer;
	margin: .5em;
	padding: .5em 2em;
}

.selected-filter-category-text {
	background-color: #b2b2ff;
}

.unselected-filter-category-text {
	background-color: blue;
}