#Blog .cover {
  margin-bottom: 4em;
  position: relative;

  background-color:rgba(0, 0, 0, 0.3);
}

#Blog .bg-img {
  height: 100%;
  width: 100%;

  z-index: -200;
  position: absolute;
}

#Blog .cover-title {
  color: white;
  /* Add the blur effect */
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  
  margin: auto;
  padding-top: 2em;

  font-size: 4.5em;
  font-weight: 300;
}
