#BlogDetail #TableOfContents {
  padding-top: 5em;
  width: 15em;
}

#BlogDetail .MuiDrawer-paperAnchorDockedRight {
  border-left: none;
}

#BlogDetail #TableOfContents #links-container h1,
#BlogDetail #TableOfContents #links-container h2,
#BlogDetail #TableOfContents #links-container h3,
#BlogDetail #TableOfContents #links-container h4,
#BlogDetail #TableOfContents #links-container p,
#BlogDetail #TableOfContents #links-container a {
  font-size: 1em;
  text-decoration: none;
  color: black;

  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#BlogDetail #TableOfContents #links-container h2 {
  margin-left: 1em;
}

#BlogDetail #TableOfContents #links-container h3 {
  margin-left: 2em;
}

.toc-link {
  display: block;
  padding-left: 3px;
}

.ugly {
  border-left: 2px green solid;
  /* text-decoration: underline; */
}

.is-current {
  border: none;
}