body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*background-color:  #E7E4E4;*/
  background-color: #575757;
}

h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6, .p  {
 	font-family: 'Open Sans', sans-serif;
 	color: #FFFFFF;
}



/*global styling components*/

#title {
	margin-top: 0px;
	padding-top: 20px;
	padding-left: 30px;

	/*border-bottom: 1px solid #FFFFFF;*/

	/*color: white;*/
	/*color: #575757;*/
}

#Projects, #Art {
/*	border-bottom: 1px solid #959393;*/	
	border-bottom: 1px solid #353535;
	
	background-color: #353535;
	/*background-color: #E7E4E4;*/
}