html, body, .App, #root {
	height: 100%;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Noto Sans', sans-serif;
}

.section {
	background-color: #9999ff;

	padding-left: 5em;
	padding-right: 5em;
	padding-top: 3em;
	padding-bottom: 5em
}

.title {
	margin-top: 0;
	margin-bottom: .2em;
}
