.text-on-image-upon-hover {
  position: relative;
}

.text-on-image-upon-hover:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
}

.text-on-image-upon-hover:hover:before{
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}

.overlay-title, .overlay-text {
	visibility: hidden;
	position: relative;
}
