.overlay {
  position: relative;
  margin: 2em;
  padding: .5em;
}

.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
}

.overlay:hover:before{
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}

.overlay-title, .overlay-description {
	visibility: hidden;
	position: relative;
}

.overlay-title {
	margin-top: 0em;
	-webkit-transition: margin .2s;
	transition: margin .2s;
}

.overlay-description {
	opacity: 0.5;
	transition: opacity .2s;
	-webkit-transition: opacity .2s;

	-webkit-transition: margin .2s;
	transition: margin .2s;
	margin-top: 3em;
}

.overlay:hover .overlay-title {
visibility: visible;
  border-bottom: 1px solid white;
  color: white;
  margin-bottom: .5em;
  font-size: 1em;
  margin-top: .5em;
  opacity: 1;
}

.overlay:hover .overlay-description {
	visibility: visible;
	color: white;
	margin-top: 0;
	opacity: 1;
	font-size: .75em;
}

