#Nav {
  position: fixed;
  /* z-index: 1; */
  /* background-color: green; */
  width: 100%;
}

#Nav a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;

  margin: 0 2em;

  font-size: 1.2em;
}