#Nav {
  position: fixed;
  z-index: 1;
  width: 100%;

  overflow: scroll;
  flex-wrap: nowrap;
}

#Nav::-webkit-scrollbar {
  display: none;
}

#Nav p {
  color: white;
  text-transform: capitalize;
  font-size: 1.2em;
  margin: 1em 2em;
}

#Nav a {
  text-decoration: none;
  color: white;
}

#Nav .mobile {
  padding: 1em;
}

#Nav .mobile p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#Nav #name-txt {
  margin: 0;
  flex-grow: 1;
  font-size: 1.5em;
  font-weight: 450;
}

@media only screen and (max-width: 600px) {
	#Nav a {  
    margin: 0 1em;
    flex-grow: 1;
  }

  /* #Nav p {
    margin: 0.5em 0;
  } */
}

@media only screen and (max-width: 420px) {
	#Nav a {  
    font-size: 1em;
  }
}